h1 {
  color: blue;
}
h2{
}

body {
  background: #f3f3f3;
}

.selected {
  color: darken(lightblue, 10%);
}
.task-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
